/* Import of poppins font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300;600&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
} /* Resetando o meu browser */

:root
{
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

body
{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-color: var(--body-bg-color);
}

/* Formating the container div */
#container
{
    width: 414px;
    height: 896px;
    margin: auto;
    padding: 126px 44px;
    /*background-color: var(--body-bg-color);*/
}

/* Profile area formating */
#profile
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#profile img
{
    width: 213px;
    padding: 5px;
    border: 2px solid var(--purple);
    border-radius: 50%;
}

#profile span
{
    font-size: 1rem;
    color: var(--purple);
}

/* Button links formating */
#links-group
{
    margin-top: 33px;
    margin-bottom: 68px;
    list-style: none;
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#links-group li
{
    border: 2px solid var(--purple);
    border-radius: 4px;
    padding: 12px 2px 13px;
}

#links-group li a
{
    text-decoration: none;
    color: var(--purple);
}

/* Social link icons formating */
#social_link_icons
{
    width: 236px;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#social_link_icons a
{
    text-decoration: none;
}